/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#testoAlternato {
  border: 2px solid black;
  padding: 2em;
  font-size: 2em;
  line-height: 1.5em;
  width: fit-content;
}

.parole {
  color: rgb(19, 112, 143);
  position: relative;
}

.parole i {
  display: inline-block;
}

.parole i:first-of-type {
  position: relative;
  top: -50px;
  animation: cycle 5s both infinite ease-in-out;
}

.parole i:nth-of-type(2) {
  position: relative;
  top: -50px;
  left: -192px;
  animation: cycle1 5s both infinite ease-in-out;
}

.parole i:nth-of-type(3) {
  position: relative;
  top: -50px;
  left: -400px;
  animation: cycle2 5s both infinite ease-in-out;
}

@keyframes cycle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    top: 0px;
  }
  50% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}

@keyframes cycle1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    top: -50px;
  }
  50% {
    opacity: 1;
    top: 0px;
  }

  75% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}

@keyframes cycle2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    top: -50px;
  }
  50% {
    opacity: 0;
    top: -50px;
  }
  75% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}
